@import "./variables";
.divsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionaz,
.articles {
  background-color: $turquesa_oscuro;
  color: $casi_gris;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  &__name {
    font-weight: bold;
    text-transform: uppercase;
  }
  &__title {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
  }
  &__poem {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
  }
  @media screen and (width >= 768px) {
    // margin-top: 5vh;
    // margin-bottom: 5vh;
    font-size: 1.8rem;
    line-height: 2rem;
    &__poem,
    &__title {
      margin-left: 30px;
    }
  }
  @media screen and (width >= 1024px) {
    margin: 60px 20px 0 20px;
    padding: 50px;
  }
}
//FIXME: ajustar este menú a diferentes pantallas
.sectionaz {
  h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  font-size: 1.8rem;
  &__ul {
    font-size: 1.6rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @media screen and (width >= 768px) {
        flex-direction: row;
        justify-content: center;
    }
    &--li {
        padding: 2px;
      cursor: pointer;
      &:hover{
        background-color: $turquesa_medio;
       // text-decoration: underline $casi_blanco;
       color: $casi_blanco;
      }
    }
  }
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  &__article {
    border: 2px solid $blanco_azul;
    padding: 10px;
    text-align: justify;
    width: 100%;
    &--wiki {
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      color: $casi_blanco;
      &:hover {
        background-color: $turquesa_medio;
        // text-decoration: underline $casi_blanco;
        color: $casi_blanco;
        padding-left: 20px;
      }
    }
    @media screen and (width >= 768px) {
      width: 30%;
    }
  }
}
