@import "./variables";
.divsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionaz,
.articles {
  background-color: $turquesa_oscuro;
  color: $casi_gris;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  &__name {
    font-weight: bold;
    text-transform: uppercase;
  }
  &__title {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
  }
  &__poem {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
  }
  @media screen and (width >= 768px) {
    // margin-top: 5vh;
    // margin-bottom: 5vh;
    font-size: 1.8rem;
    line-height: 2rem;
    &__poem,
    &__title {
      margin-left: 30px;
    }
  }
  @media screen and (width >= 1024px) {
    margin: 60px 20px 0 20px;
    padding: 50px;
  }
}
.sectionaz {
  &__h3{
    font-size: 2.4rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  font-size: 1.8rem;
  &__ul {
    font-size: 1.6rem;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @media screen and (width >= 768px) {
      flex-direction: row;
      justify-content: center;
    }
    &--li {
      padding: 2px;
      cursor: pointer;
      &:hover {
        background-color: $turquesa_medio;
        // text-decoration: underline $casi_blanco;
        color: $casi_blanco;
      }
    }
  }
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 1.8rem;
  &__article {
    border: 2px solid $blanco_azul;
    padding: 10px;
    padding-right: 30px;

    width: 100%;
    &--title {
      font-weight: bold;
      font-size: 2rem;
      margin-top: 20px;
      margin-left: 10px;
    }
    &--text {
      margin-top: 10px;
      margin-left: 10px;
      padding-bottom: 10px;
    }
    &--wiki {
      display: inline-block;
      // margin-top: 20px;
      text-decoration: none;
      color: $blanco_azul;
      margin-left: 30px;
      &:hover {
        background-color: $turquesa_medio;
        // text-decoration: underline $casi_blanco;
        color: $casi_blanco;
        padding-left: 20px;
      }
    }
    @media screen and (width >= 768px) {
      width: 30%;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  &__section {
    margin-top: 10px;
    background-color: $turquesa_oscuro;
    color: $casi_gris;
    padding: 2rem;
    font-size: 1.6rem;
    width: 200px;
    line-height: 1.8rem;
    border: 2px solid $blanco_azul;

    text-align: center;
    @media screen and (width >= 768px) {
      font-size: 2rem;
      width: 400px;
    }

    &--item {
      display: inline-block;
      //  margin-top: 20px;
      text-decoration: none;
      color: $blanco_azul;
      &:hover {
        background-color: $turquesa_medio;
        // text-decoration: underline $casi_blanco;
        color: $casi_blanco;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
