@import './variables';

.header {
    height: fit-content;
    width: 100vw;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: $casi_blanco;
    position: relative; //quizás haya que cambiar esto a sticky o absolute pero entonces tendré que ajusta la posición, creo
    bottom: 100;
    left: 50%;
    gap: 10px;
    transform: translate(-50%);
    font-size: 1.2rem;
    color: $turquesa_oscuro;
    @media screen and (width >= 768px) {
      font-size: 1.8rem;
    }
  
    &__link {
      text-decoration: none;
      color: $casi_blanco;
      border-radius: 10px;
      padding: 5px;
      background-color: $turquesa_medio;
      border: 2px solid $casi_blanco;
      text-align: end;
      &:hover {
        background-color: $casi_blanco;
        border: 2px solid $turquesa_oscuro;
        color: $turquesa_oscuro;
      }
    }
  }
  